@use "../variables/variables" as v;
@use "../mixin/btn" as m;

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 80px;

  picture {
    width: 78%;
  }

  .about_content {
    transform: translateY(-11px);

    .about_title {
      font-size: 40px;
      padding-bottom: 30px;
    }

    .about_info {
      font-size: 18px;
      font-weight: 500;
      opacity: 0.6;
      line-height: 28px;
      padding-bottom: 50px;
    }

    .about_btn {
      @include m.button(v.$dark-orange, v.$light-orange, v.$white);
    }
  }
}
