@use "../variables/variables" as v;
@use "../mixin/btn" as m;

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  background-color: v.$black;
  padding: 65px 100px 65px 65px;
  border-radius: 10px;
  margin-block: 88px 55px;

  .contact_content {
    color: v.$white;
    width: 540px;
    .contact_content_title {
      font-size: 40px;
      padding-bottom: 25px;
    }

    .contact_content_info {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contact_btn {
    @include m.button(v.$dark-orange, v.$light-orange, v.$white);
  }
}
