@use "../variables/variables" as v;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 47px 65px;

  .header_btn {
    background-color: v.$black;
    color: v.$white;
    font-weight: bold;
    padding: 18px 48px;
    border-radius: 30px;
    transition: 0.5s;

    &:hover{
        background-color: v.$purple;
    }
  }
}
