@use "../variables/variables" as v;
@use "../mixin/btn" as m;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 47px 65px;

  .header_btn {
    @include m.button(v.$black, v.$purple, v.$white);
  }
}
